<ion-content [fullscreen]="true" class="ion-padding">
  <ion-img class="ion-padding" src="assets/icon/advice.svg"></ion-img>

  <ion-text><h2>Advice Page</h2></ion-text>
  <ion-text>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus
      facilis cum iusto ratione aspernatur blanditiis, labore odit fuga quas,
      non enim reprehenderit qui illum ea obcaecati repellendus eum maxime sed!
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error nulla
      reprehenderit ut quia corporis expedita a consequuntur neque illo
      officiis, iure perspiciatis. Atque facilis error delectus voluptate
      deleniti provident natus.
    </p>
  </ion-text>

  <ion-text>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus
      facilis cum iusto ratione aspernatur blanditiis, labore odit fuga quas,
      non enim reprehenderit qui illum ea obcaecati repellendus eum maxime sed!
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error nulla
      reprehenderit ut quia corporis expedita a consequuntur neque illo
      officiis, iure perspiciatis. Atque facilis error delectus voluptate
      deleniti provident natus.
    </p>
  </ion-text>
  <ul>
    <li>ユーザー情報の入力</li>
    <li>メールアドレスの確認</li>
    <li>パスワードの設定</li>
    <li>登録完了</li>
  </ul>
</ion-content>

<ion-footer class="ion-padding ion-margin-bottom">
  <ion-button expand="full" color="dark"> 次へ </ion-button>
</ion-footer>
