<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="ion-padding">
    <ion-toolbar color="none">
      <ion-title size="large">My Bank Test</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-padding">
    <ion-img
      src="assets/icon/people-who-support-svgrepo-com.svg"
      alt="My Icon"
    ></ion-img>
  </div>

  <ion-modal #modal trigger="openModal">
    <ng-template>
      <ion-header>
        <ion-toolbar color="none">
          <ion-buttons slot="end">
            <ion-button id="present-alert">
              <ion-icon name="close" color="dark"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-nav [root]="modalComponent"></ion-nav>
        <app-modal-exist-alert
          (onClose)="modal.dismiss()"
        ></app-modal-exist-alert>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
<ion-footer class="ion-padding ion-margin-bottom">
  <ion-button id="openModal" expand="full" color="dark"
    >口座を開設する</ion-button
  >
  <ion-button expand="full" color="dark" fill="clear" class="ion-margin-top"
    >ログイン</ion-button
  >
</ion-footer>
